<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Auth0 Example</title>
    <meta name="description" content="an example app showing Auth0 integration with Django">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body>
    {% if session %}
    <h1>Welcome {{session.userinfo.name}}!</h1>
    <p><a href="{% url 'logout' %}" id="qsLogoutBtn">Logout</a></p>
    <div><pre>{{pretty}}</pre></div>
    {% else %}
    <h1 id="profileDropDown">Welcome Guest</h1>
    <p><a href="{% url 'login' %}" id="qsLoginBtn">Login</a></p>
    {% endif %}
  </body>
</html>
